*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
    letter-spacing: 1px;
}

header{
    display: flex;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 18px;
    padding-bottom: 18px;
    justify-content: space-between;
    z-index: 9999;
    position: fixed;
    background-color: #1f2937;
    align-items: center;
    
}

header h1{
    color: #f9faf8;
    font-size: 24px;
}

ul{
    display: flex;
    gap: 30px;
    list-style: none;
    
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

section{
    position: relative;
    padding-top: 75px;
    padding-left: 15%;
    padding-right: 15%;
    height: 70vh;
}

#hero {
    height: 100vh;
    background: #1f2937;
    display: flex;
    gap: 10px;
}

.box {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5px
}
#hero h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 600;
}
#hero p{
    font-size: 18px;
    color: #e5e7eb;
    padding-right: 10px;
}

#hero button{
    width: 25%;
    background: #3882f6;
    color: #f9faf8;
    padding: 10px 32px 10px 32px;
    border-radius: 10px;
    cursor: pointer;
}

.placeholder{
    height: 250px;
    background: #e5e7eb77;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#info h1{
    text-align: center;
    margin-bottom: 25px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.info-container{
    display: flex;
    padding: 3%;
    justify-content: space-around;
}

.box-container{
    width: 145px;
    height: 145px;
}
.box-info{
    height: 100%;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

#info p{
    text-align: center;
    letter-spacing: 0px;
    color: #1f293796;
}

#quote{
    background-color: #e5e7eb;
}
.quote-container{
    display: flex;
    flex-direction: column;
    padding: 10%;
    justify-content: center;
   
}
#quote p{
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}
#quote h4{
    text-align: end;
}

#action{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-container{
    background-color: #3882f6;
    padding: 5% 12% 5% 12%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
}
#action button{
    border: 3px solid #f9faf8;
    font-size: 16px;
    background-color: #3882f6;
    padding: 8px 32px 8px 32px;
    color: #f9faf8;
    border-radius: 8px;
}
#action p{
    color: #f9faf8ac;
}

footer{
    width: 100%;
    padding: 36px;
    background-color: #1f2937;
    text-align: center;
    color: #f9faf8;
}
